*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
  width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.button {
  color: #ff8fd8;
  background: transparent;
  border: 0.1rem solid #ff8fd8;
  border-radius: 5rem;
  padding: 0.5rem;
  width: 8rem;
  font-size: 1rem;
}
@media (min-width: 810px) {
  .button {
    padding: 0.8rem;
    width: 14rem;
    font-size: 1.6rem;
  }
}
.button__community {
  color: #f5faff;
  background-color: #ff52bf;
  border: 0.1rem solid #ff52bf;
  width: 20rem;
  padding: 1rem;
  font-size: 1.2rem;
}
.button__ask {
  color: #f5faff;
  background-color: #ff52bf;
  border: 0.1rem solid #ff52bf;
  width: 20rem;
  padding: 1rem;
  font-size: 1.2rem;
}
.button__footer {
  color: #f5faff;
  background-color: #ff52bf;
  border: 0.1rem solid #ff52bf;
  width: 15rem;
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 32rem;
}
.footer__form-wrapper {
  max-width: 32rem;
  width: 100%;
}
.footer__input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
}
.footer__input:focus {
  outline: 0.2rem solid #00cca7;
}
.footer__error {
  visibility: hidden;
  color: #ff4242;
  opacity: 0;
}

.huddle__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  max-width: 110rem;
  margin: 0 auto 10rem;
  padding: 2rem 0;
}
.huddle__logo--header {
  width: 9rem;
}
@media (min-width: 810px) {
  .huddle__logo--header {
    width: 19rem;
  }
}
.huddle__logo--footer {
  width: 19rem;
  filter: brightness(0) invert(100%);
}
.huddle__title {
  margin-bottom: 2rem;
  padding: 0 3rem;
  font-family: "Poppins", sans-serif;
}
.huddle__title--secondary {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.huddle__title--tertiary {
  font-size: 2.4rem;
}
.huddle__subtitle {
  margin-bottom: 4rem;
  font-size: 1.4rem;
  padding: 0 3rem;
}
.huddle__subtitle--secondary {
  line-height: 1.5;
  max-width: 50rem;
  margin: 0 auto 4rem auto;
}
@media (min-width: 810px) {
  .huddle__subtitle--secondary {
    margin: unset;
    max-width: unset;
  }
}
.community__picture {
  padding: 3.5rem;
  margin-top: 8rem;
}
.community__forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin: 10rem 0 3rem 0;
}
@media (min-width: 810px) {
  .community__forms {
    flex-direction: row;
    margin: 10rem 0;
  }
}
.community__form {
  max-width: 18rem;
}
@media (min-width: 810px) {
  .community__form {
    margin: unset;
  }
}
.community__number {
  position: relative;
  font-size: 6rem;
  font-weight: 700;
}
.community__number::before {
  position: absolute;
  top: -2rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
}
.community__number--communities::before {
  content: url("../../images/icon-communities.svg");
}
.community__number--messages {
  font-size: 5.3rem;
}
.community__number--messages::before {
  content: url("../../images/icon-messages.svg");
}
.community__text {
  font-size: 1.4rem;
  opacity: 0.6;
}

.grow__section {
  background-color: #f5faff;
}
.grow__picture {
  width: 70%;
  margin: 0rem auto 7rem;
}
@media (min-width: 810px) {
  .grow__picture {
    margin: unset;
    width: 100%;
  }
}
.flowing__picture {
  width: 70%;
  margin: 0rem auto 7rem;
}
@media (min-width: 810px) {
  .flowing__picture {
    margin: unset;
    width: 100%;
  }
}
.users__section {
  background-color: #f5faff;
}
.users__picture {
  width: 70%;
  margin: 0rem auto 7rem;
}
@media (min-width: 810px) {
  .users__picture {
    margin: unset;
    width: 100%;
  }
}
.ask__section {
  padding: 7rem 0 25rem 0;
}
@media (min-width: 810px) {
  .ask__section {
    padding: 13rem 0;
  }
}

.footer {
  background-color: #00252e;
  color: #f5faff;
  text-align: left;
}
.footer__newsletter-wrapper {
  margin-bottom: 10rem;
}
@media (min-width: 810px) {
  .footer__newsletter-wrapper {
    margin: unset;
  }
}
.footer__newsletter {
  text-transform: uppercase;
  font-size: 2rem;
}
.footer__text {
  font-size: 1.4rem;
  margin: 2rem 0;
  max-width: 30rem;
  line-height: 1.8;
}
@media (min-width: 810px) {
  .footer__text {
    max-width: 32rem;
  }
}
.footer__location {
  font-size: 1.4rem;
  margin: 2rem 0 4rem;
  max-width: 30rem;
  line-height: 1.8;
}
@media (min-width: 810px) {
  .footer__location {
    margin: 1.5rem 0 2rem;
  }
}
.footer__phone {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 3rem;
  font-size: 1.4rem;
}
.footer__phone::before {
  position: absolute;
  content: url("../../images/icon-phone.svg");
  left: 0;
}
.footer__email {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 3rem;
  font-size: 1.4rem;
}
.footer__email::before {
  position: absolute;
  content: url("../../images/icon-email.svg");
  left: 0;
}
.footer__social-wrapper {
  margin-top: 5rem;
}
.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.7rem;
}
.footer__link svg {
  fill: #f5faff;
}

.container__grow {
  padding: 9rem 0;
}
@media (min-width: 810px) {
  .container__grow {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding: 9rem 5rem;
  }
}
.container__flowing {
  padding: 9rem 0;
}
@media (min-width: 810px) {
  .container__flowing {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding: 9rem 5rem;
  }
}
.container__users {
  padding: 9rem 0;
}
@media (min-width: 810px) {
  .container__users {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding: 9rem 5rem;
  }
}
.container__footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  padding: 5rem 3rem;
}
@media (min-width: 810px) {
  .container__footer {
    padding: 10rem 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
