@use "../abstracts/index" as *;
.community {
  &__section {
  }

  &__picture {
    padding: 3.5rem;
    margin-top: 8rem;
  }

  &__forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    margin: 10rem 0 3rem 0;

    @media (min-width: 810px) {
      flex-direction: row;
      margin: 10rem 0;
    }
  }

  &__form {
    max-width: 18rem;
    // margin: 12rem auto 0;
    @media (min-width: 810px) {
      margin: unset;
    }
  }

  &__number {
    position: relative;
    font-size: 6rem;
    font-weight: 700;

    &::before {
      position: absolute;
      top: -2rem;
      left: 2rem;
      width: 2rem;
      height: 2rem;
    }

    &--communities {
      &::before {
        content: url("../../images/icon-communities.svg");
      }
    }

    &--messages {
      font-size: 5.3rem;

      &::before {
        content: url("../../images/icon-messages.svg");
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    opacity: 0.6;
  }
}
