@use "../abstracts/index" as *;
.community {
  &__section {
  }

  &__picture {
    padding: 3.5rem;
    margin-top: 8rem;

    @media (min-width: 1140px) {
      width: 77%;
      margin: 7rem auto 0 auto;
    }
  }

  &__forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    margin: 10rem 0 3rem 0;

    @media (min-width: 810px) {
      flex-direction: row;
      margin: 12rem 0 14rem;
      gap: 35rem;
    }
  }

  &__form {
    max-width: 18rem;
    @media (min-width: 810px) {
      margin: unset;
    }

    @media (min-width: 1140px) {
      max-width: 30rem;
    }
  }

  &__number {
    position: relative;
    font-size: clamp(6rem, 7.5vw, 9.5rem);
    font-weight: 700;

    @media (min-width: 1140px) {
      margin-bottom: 1rem;
    }

    &--communities {
      &::before {
        content: url("../images/icon-communities.svg");
        position: absolute;
        top: -10rem;
        left: 0rem;
      }
    }

    &--messages {
      font-size: clamp(5.3rem, 7vw, 9.5rem);

      &::before {
        content: url("../images/icon-messages.svg");
        position: absolute;
        top: -10rem;
        left: 0rem;
        width: 2rem;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    opacity: 0.6;

    @media (min-width: 1140px) {
      font-size: 2.4rem;
    }
  }
}
