@use "../abstracts/index" as *;

.grow {
  &__section {
    background-color: $color-veryPaleBlue;
  }

  &__bg--top {
  }

  &__bg--bottom {
  }

  &__picture {
    width: 70%;
    margin: 0rem auto 7rem;

    @media (min-width: 810px) {
      margin: unset;
      //   width: 100%;
    }
  }

  &__wrapper {
  }
}
