@use "../abstracts/index" as *;

.huddle {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    max-width: 110rem;
    margin: 0 auto 10rem;
    padding: 2rem 0;
  }

  &__logo {
    width: 9rem;
    &--header {
    }

    &--footer {
    }
  }

  &__main {
  }

  &__title {
    margin-bottom: 2rem;
    padding: 0 3rem;
    font-family: $font-secondary;
    &--primary {
    }

    &--secondary {
    }

    &--tertiary {
    }
  }

  &__subtitle {
    margin-bottom: 4rem;
    font-size: 1.4rem;
    padding: 0 3rem;

    &--primary {
    }

    &--secondary {
    }

    &--tertiary {
    }
  }
}
