$color-Pink: hsl(322, 100%, 66%);
$color-lightPink: hsl(321, 100%, 78%);
$color-lightRed: hsl(0, 100%, 63%);
$color-veryDarkCyan: hsl(192, 100%, 9%);
$color-veryPaleBlue: hsl(207, 100%, 98%);
$color-green: hsl(169, 100%, 40%);

$font-primary: "Open Sans", sans-serif; // 700
$font-secondary: "Poppins", sans-serif; // 400 600 700
